* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-image: url(./Backgrounds/background-home-desktop.jpg);
  background-repeat: no-repeat;
}

#header_primary {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 0 0;
  height: fit-content;
  width: 100%;
  align-items: center;
}

.logo {
  padding: 0 0 0 50px;
}

.linha {
  display: flex;
  align-items: center;
  height: 112px;
  margin: 0;
}

.linha i {
  display: flex;
  height: 1px;
  width: 470px;
  background-color: #e5e7eb33;
}

/*fazer botão mobille*/
.checkbtn {
  display: none;
  cursor: pointer;
  float: right;
}

#check {
  float: right;
  display: none;
}

/*barra superior e pode ser responsivo*/
.nav_1 {
  background-color: #fff1f019;
  backdrop-filter: blur(13px);
}

.barra_mn {
  display: flex;
  justify-content: center;
  width: max-content;
}

.barra_mn ul {
  display: flex;
  gap: 2rem;
  padding: 0px 74px 0px 95px;
}

.barra_mn li a {
  letter-spacing: 2.7px;
  text-decoration: none;
  font-family: uppercase;
  color: rgb(255, 255, 255);
}

.barra_mn ul span {
  display: flex;
  color: #ffffff;
  font: 1em bold;
}

/* houver da barra superior */
.mouse_header {
  display: flex;
  align-items: center;
  height: 112px;
  border-bottom: 2.50px solid #ffffff00;
  transition: 0.5s;
}

.mouse_header li {
  transition: 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2.50px solid #ffffff00;
}

.mouse_header1 {
  display: flex;
  align-items: center;
  height: 112px;
  border-bottom: 2.50px solid #ffffff;
}

.mouse_header1 li {
  border-bottom: 2.50px solid #ffffff;
  padding-bottom: 10px;
}

.mouse_header li:hover {
  border-bottom: 2.50px solid #ffffff4c;
}

.mouse_header:hover {
  border-bottom: 2.50px solid #ffffff4c;  
}
/* 👆 Barra superior (desktop) pronta*/
/* 👇 Conteúdo */
main {
  display: flex;
  width: 100%;
}


#cntd {
  --tw-text-opacity: 1;
  color: hsl(231 77% 90% / var(--tw-text-opacity));
  width: 60%;
  height: 500px;
  padding-left: 65px;
}

#cntd h2 {
  letter-spacing: 3.84px;
  font-size: 28px;
  font-family: Barlow Condensed,sans-serif;
}

#cntd h1 {
  letter-spacing: 0.1em;
  font-size: 150px;
  font-weight: inherit;
  padding-bottom: 19px;
}

#cntd p {
  font-family: initial;
  line-height: 2.02rem;
  font-size: 27px;
  font-family: Barlow Condensed,sans-serif;
  
}

/* 👆 conteúdo desktop feito*/
/* 👇 botão grande*/

.right {
  display: flex;
  justify-content: center; 
  width: 50%;
  align-items: center;
}

.one_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  width: 380px;
  border-radius: 50%;
  transition: 0.9s;
}

.two_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 100%;
}

.two_box a {
  font-size: 32px;
  font-family: Bellefair;
  cursor: pointer;
  color: #000;
}

/*Efeito do mouse no botão "explore"*/

.one_box:hover {
  transition: 1s;
  width: 380px;
  height: 380px; 
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.123);
}

/*👇 Modelo tablet de largura 800 a 640*/
@media (max-width: 800px ){
  body {
    background-size: cover;
    background-image: url(./Backgrounds/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-position: top;
  }

  #header_primary {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .linha {
    display: none;
  }

  .logo {
    padding: 0 0 0 20px;
  }

  .nav_1 {
    background-color: rgba(178, 34, 34, 0);
    backdrop-filter: none;
    width: fit-content;
  }

  .barra_mn {  
    background-color: #fff1f019;
    backdrop-filter: blur(13px);
   margin: 0;
  }

  .barra_mn ul {
    justify-content: center;
    padding: 0 50px 0 4rem;
  }

  .mouse_header li {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  .mouse_header1 {
    border-bottom: none;
    padding-left: 0px;
  }
  .mouse_header1 li {
    padding-top: 0;
    padding-bottom: 0;
  }

  .mouse_header1 li span{
    display: none;
  }
  
  .mouse_header li span {
    display: none;
  }

  .mouse_header:hover {
    border-bottom: none;
  }
  /*👇 Conteúdo _ tablet*/
  #cntd {
    height: fit-content;
    padding: 0;
    width: fit-content;
  }

  #cntd h2 {
    display: flex;
    justify-content: center;
  }

  #cntd h1 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: bellefair;
    letter-spacing: 0.01em;
  }

  #cntd p {
    display: flex;
    text-align: center;
    font-size: 30px;
    margin: 0;
  }

  /*👇 botão*/
  main {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 0 0;
  }

  .right {
    width: auto;
    height: auto;
  }
  
  .one_box {
    margin-left: 10px;
  }
}

@media (max-width: 640px) {
  label {
    display: flex;
    font-size: 100px;
  }

  #menuMB {
    display: flex;
    width: fit-content;
  }

  .nav_1 label {
    margin: 0 3rem 0 0;
  }

  #header_primary {
    justify-content: space-between;
  }
  
  .checkbtn {
    display: flex;
    margin-left: 150px;
    color: #fff;
    font-size: 50px;
  }
  
  #memuMB {
    width: 0;
  }

  .barra_mn {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    /*esse left -100 é para n ser visivel p conteudo*/
    right: -150%;
    text-align: center;
    transition: all .5s;
    background-color: #1110106f;
    backdrop-filter: blur(15px);    
  }

  .barra_mn ul {
    display: flow-root;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 10px;
    /*esse left -100 é para n ser visivel p conteudo*/
    text-align: center;
    }

  .mouse_header1 {
    display: block;
  }

  .mouse_header {
    display: block;
  }

  #check:checked ~ .barra_mn {
    right: 0;
  }

  .logo {
    padding: 20px 0 0 24px;
  }

  #cntd h2 {
    font-size: 25px;
  }

  #cntd h1 {
    font-size: 106px;
  } 
  #cntd p{
    font-size: 23px;
  }
}

/*👇 Modelo celular de largura 425*/
@media (max-width: 425px){
  body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-image: url(./Backgrounds/background-home-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
  } 

  main {
    display: block;
    width: auto;
  }

  #cntd {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  #cntd h2 {
    font-size: 20px;
  }

  #cntd h1 {
    padding-top: 10px;
    font-size: 60px;
  }

  #cntd p {
    text-align: left;
    padding-left: 0;
    margin: 0px;
    line-height: 1.5rem;
    font-size: 27px;
    width: 90%;
    text-align: center;
    font-family: Barlow Condensed,sans-serif;
    justify-self: center;
  }

  .right {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 20px;
  }

  .one_box {
    margin: 0px;

    height: 230px;
    width: 230px;
  }

  .two_box {
    justify-content: center;
    height: 145px;
    width: 145px;
  }

  .two_box a {
    font-size: 20px;
  }

  .one_box:hover {
    transition: 1s;
    width: 230px;
    height: 230px; 
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.123);
  }
}

/*👇 Modelo Mobille de largura 400*/
@media (max-width: 400px){
  #ctnd h2 {
    font-size: 17px;
  }
  
  #ctnd p {
    font-size: 25px;
  }
}

/*👇 Modelo Mobille de largura 390*/
@media ( max-width: 390px ){
  #ctnd h2 {
    font-size: 15px;
  }
  
  #ctnd p {
    font-size: 20px;
  }

}

/*Baixando valores de fontes*/
@media ( max-width: 344px) {
  #cntd h2 {
    font-size: 17px;
  }

  #ctnd p {
    font-size: 22px;
  }
}
