* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-image: url(./Backgrounds/background-home-desktop.jpg);
  background-repeat: no-repeat;
}

#header_primary {
  display: flex;
  justify-content: space-between;  
  margin: 32px 0 24px 24px;
  height: 105px;
  width: 1095px;
}

.linha {
  display: flex;
  align-items: center;
  height: 112px;
  width: 1300px;
  margin-right: 43px;
}

.linha i {
  display: flex;
  height: 1px;
  width: 470px;
  background-color: #e5e7eb33;
}


.logo {
  display: flex;
  padding: 33px 33px 0px 0px;
}

.nav_1 {
  display: flex;
  align-items: center;
}

/*fazer botão mobille*/
.checkbtn {
  display: none;
  cursor: pointer;
  float: right;
}

#check {
  float: right;
  display: none;
}

/*barra superior e pode ser responsivo*/
#menuMB{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #fff1f019;
  backdrop-filter: blur(13px);
  width: 1500px;
}

.barra_mn ul {
  display: flex;
  gap: 2rem;
  padding: 0px 74px 0px 176px;
}

.barra_mn li a {
  letter-spacing: 2.7px;
  text-decoration: none;
  font-family: uppercase;
  color: rgb(255, 255, 255);
}

.barra_mn ul span {
  display: flex;
  color: #ffffff;
  font: 1em bold;
}

/* houver da barra superior */
.mouse_header {
  display: flex;
  align-items: center;
  height: 112px;
  border-bottom: 2.50px solid #ffffff00;
  transition: 0.5s;
}

.mouse_header li {
  transition: 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2.50px solid #ffffff00;
}

.mouse_header1 {
  display: flex;
  align-items: center;
  height: 112px;
  border-bottom: 2.50px solid #ffffff;
}

.mouse_header1 li {
  border-bottom: 2.50px solid #ffffff;
  padding-bottom: 10px;
}


.mouse_header li:hover {
  border-bottom: 2.50px solid #ffffff4c;
}

.mouse_header:hover {
  border-bottom: 2.50px solid #ffffff4c;  
}

/* 👆 Barra superior (desktop) pronta*/
/* 👇 Conteúdo */
main {
  display: flex;
}


#cntd {
  --tw-text-opacity: 1;
  color: hsl(231 77% 90% / var(--tw-text-opacity));
  width: 800px;
  height: 500px;
  padding-left: 65px;
}

#cntd h2 {
  letter-spacing: 3.84px;
  font-size: 28px;
  font-family: Barlow Condensed,sans-serif;
}

#cntd h1 {
  letter-spacing: 0.1em;
  font-size: 150px;
  font-weight: inherit;
  padding-bottom: 19px;
}

#cntd p {
  font-family: initial;
  line-height: 2.02rem;
  font-size: 20px;
  font-family: Barlow Condensed,sans-serif;
  
}

/* 👆 conteúdo desktop feito*/
/* 👇 botão grande*/

.right {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 800px;
}

.one_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  width: 380px;
  border-radius: 50%;
  margin-left: 255px;
  margin-top: 55px;
  transition: 0.9s;
}

.two_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 100%;
}

.two_box a {
  font-size: 32px;
  font-family: Bellefair;
  cursor: pointer;
}

/*Efeito do mouse no botão "explore"*/

.one_box:hover {
  transition: 1s;
  width: 380px;
  height: 380px; 
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.123);
}

/*👇 Modelo tablet de largura 768*/
@media (max-width: 768px ){
  body {
    background-size: cover;
    background-image: url(./Backgrounds/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }

  #header_primary {
    display: flex;
    margin: 0 0 0 1.5rem;
    width: 500px;
  }

  .logo {
    padding-top: 1.3rem;
    padding-left: 10px;
    margin-right: 10px;
  }

  .linha {
    display: none;
  }

  #menuMB {
    height: 89px;
    width: 500px;
    background-color: rgba(178, 34, 34, 0);
    backdrop-filter: none;
    margin-left: 34px;
  }

  .nav_1 {
    margin-right: 0;
    padding-right: 0;
    width: 400px;
    background-color:none;
    backdrop-filter: none;
  }

  .barra_mn {
    width: 599px;
    height: 100px;
    background-color: #fff1f019;
    backdrop-filter: blur(13px);
  }

  .barra_mn ul {
   padding:  0px 74px 0px 75px;
  }

  .mouse_header li {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  .mouse_header1 {
    border-bottom: none;
    padding-left: 0px;
  }
  .mouse_header1 li {
    padding-top: 0;
    padding-bottom: 0;
  }

  .mouse_header1 li span{
    display: none;
  }
  
  .mouse_header li span {
    display: none;
  }

  .mouse_header:hover {
    border-bottom: none;
  }

  /*👇 Conteúdo _ tablet*/
  #cntd {
    padding-left: 0;
    height: auto;
    width: 768px;
  }

  #cntd h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #cntd h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    color: #fff;
    font-family: bellefair;
    letter-spacing: 0.01em;
  }

  #cntd p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
  }

  /*👇 botão*/
  main {
    display: block;
    width: 768px;
  }

  .right {
    width: auto;
    height: auto;
  }
  
  .one_box {
    margin-left: 10px;
  }
}

/*👇 Modelo celular de largura 425*/
@media (max-width: 425px){
  body {
    background-size: cover;
    background-image: url(./Backgrounds/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    -webkit-text-size-adjust: 100%;
    min-height: 100vh;
    width: 100%;
  }

  #menuMB {
    display: flex;
    width: fit-content;
  }
  
  .nav_1 {
    width: fit-content;
    margin-left: 0px;
  }

  #header_primary {
    display: flex;
    width: fit-content;
  }
  
  .checkbtn {
    display: flex;
    margin-left: 170px;
    color: #fff;
    font-size: 50px;
  }
  
  #memuMB {
    width: 0;
  }

  .barra_mn {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    /*esse left -100 é para n ser visivel p conteudo*/
    right: -150%;
    text-align: center;
    transition: all .5s;
    background-color: #1110106f;
    backdrop-filter: blur(15px);    
  }

  .barra_mn ul {
    display: flow-root;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 10px;
    /*esse left -100 é para n ser visivel p conteudo*/
    text-align: center;
    }

  .mouse_header1 {
    display: block;
  }

  .mouse_header {
    display: block;
  }
  
  #check:checked ~ .barra_mn {
    right: 0;
  }

  main {
    width: 100%;
  }

  #cntd {
    display: inline;
  }

  #cntd h2 {
    font-size: 20px;
    width: 100%;
  }

  #cntd h1 {
    font-size: 100px;
    padding-left: 10px;
  }

  #cntd p {
    padding-left: 15px;
    text-align: center;
    width: 400px;
    text-align: center;
    font-family: Barlow Condensed,sans-serif;
  }

  .right {
    display: block;
  }
}
/*👆 modelo Tablet feito*/
/*👇 Modelo Mobille de largura 400*/
@media (max-width: 400px){
  body {
    background-size: cover;
    background-image: url(./Backgrounds/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    -webkit-text-size-adjust: 100%;
    min-height: 100vh;
    width: 100%;
  }

  #menuMB {
    display: flex;
    width: fit-content;
  }
  
  .nav_1 {
    width: fit-content;
    margin-left: 0px;
  }

  #header_primary {
    display: flex;
    width: fit-content;
  }
  
  .checkbtn {
    display: flex;
    margin-left: 160px;
    color: #fff;
    font-size: 50px;
  }
  
  #memuMB {
    width: 0;
  }

  .barra_mn {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    /*esse left -100 é para n ser visivel p conteudo*/
    right: -150%;
    text-align: center;
    transition: all .5s;
    background-color: #1110106f;
    backdrop-filter: blur(15px);    
  }

  .barra_mn ul {
    display: flow-root;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 10px;
    /*esse left -100 é para n ser visivel p conteudo*/
    text-align: center;
    }

    .mouse_header1 {
      display: block;
    }

    .mouse_header {
      display: block;
    }
  

    #check:checked ~ .barra_mn {
      right: 0;
    }

    main {
      width: 100%;
    }

    #cntd {
     display: inline;
    }

    #cntd h2 {
     font-size: 20px;
     width: 100%;
    }

    #cntd h1 {
     font-size: 100px;
     padding-left: 10px;
    }

    #cntd p {
     padding-left: 10px;
     text-align: center;
     width: 400px;
     font-family: cursive;
     text-align: center;
    }

    .right {
     display: block;
    }
}

/*👇 Modelo Mobille de largura 390*/
@media ( max-width: 390px ){
  body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-image: url(./Backgrounds/background-home-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }

  #menuMB {
    display: flex;
    width: fit-content;
  }
  
  .nav_1 {
    width: fit-content;
    margin-left: 0px;
  }
  
  .checkbtn {
    display: flex;
    margin-left: 150px;
    color: #fff;
    font-size: 40px;
  }

  #header_primary {
    display: flex;
    width: fit-content;
  }

  .barra_mn {
    display: block;
    position: fixed;
    width: 100%;
    height: 200vh;
    background-color: #1110106f;
    backdrop-filter: blur(15px);   
    top: 80px;
    /*esse left -100 é para n ser visivel p conteudo*/
    right: -150%;
    text-align: center;
    transition: all .5s;
  }

  #check:checked ~ .barra_mn{
    right: 0;
  } 

  main {
    display: block;
    width: auto;
  }

  
  #cntd h2 {
    font-size: 16px;
  }

  #cntd h1 {
    padding-top: 10px;
    font-size: 60px;
  }

  #cntd p {
    text-align: left;
    padding-left: 0;
    margin-left: 10px;
    line-height: 1.5rem;
    font-size: 27px;
    width: 360px;
    text-align: center;
    font-family:  Barlow Condensed,sans-serif;
  }

  .right {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 390px;
    margin-left: 0;
    margin-top: 20px;
  }

  .one_box {
    margin-left: 0;
    margin-top: 0;
    height: 230px;
    width: 230px;
    justify-content: center;
  }

  .two_box {
    justify-content: center;
    height: 145px;
    width: 145px;
  }

  .two_box a {
    font-size: 20px;
  }

  .one_box:hover {
    transition: 1s;
    width: 230px;
    height: 230px; 
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.123);
  }
}

/* Modelo mobille de largura  375*/
@media ( max-width: 375px ){
  body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-image: url(./Backgrounds/background-home-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }

  #menuMB {
    display: flex;
    width: fit-content;
  }
  
  .nav_1 {
    width: fit-content;
    margin-left: 0px;
  }
  
  .checkbtn {
    display: flex;
    margin-left: 130px;
    color: #fff;
    font-size: 40px;
  }

  #header_primary {
    display: flex;
    width: fit-content;
    margin-bottom: 20px;
  }

  .barra_mn {
    display: block;
    position: fixed;
    width: 100%;
    height: 200vh;
    background-color: #1110106f;
    backdrop-filter: blur(15px);   
    top: 80px;
    /*esse left -100 é para n ser visivel p conteudo*/
    right: -150%;
    text-align: center;
    transition: all .5s;
  }

  #check:checked ~ .barra_mn{
    right: 0;
  } 

  main {
    display: block;
    width: auto;
  }

  
  #cntd h2 {
    font-size: 16px;
  }

  #cntd h1 {
    padding-top: 10px;
    font-size: 60px;
  }

  #cntd p {
    text-align: center;
    padding-left: 0;
    margin-left: 10px;
    line-height: 1.5rem;
    font-size: 10px;
    width: 355px;
    text-align: center;
    font-size: 19px;
    font-family:  Barlow Condensed,sans-serif;
  }

  .right {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 375px;
    margin-left: 0;
    margin-top: 20px;
  }

  .one_box {
    margin-left: 0;
    margin-top: 0;
    height: 230px;
    width: 230px;
    justify-content: center;
  }

  .two_box {
    justify-content: center;
    height: 145px;
    width: 145px;
  }

  .two_box a {
    font-size: 20px;
  }

  .one_box:hover {
    transition: 1s;
    width: 230px;
    height: 230px; 
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.123);
  }
}


/*👇 Modelo Mobille de largura 360*/
@media ( max-width: 360px ){
  body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-image: url(./Backgrounds/background-home-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }

  #menuMB {
    display: flex;
    width: fit-content;
  }
  
  .nav_1 {
    width: fit-content;
    margin-left: 0px;
  }
  
  .checkbtn {
    display: flex;
    margin-left: 130px;
    color: #fff;
    font-size: 40px;
  }

  #header_primary {
    display: flex;
    width: fit-content;
    margin-bottom: 30px;
  }

  .barra_mn {
    display: block;
    position: fixed;
    width: 100%;
    height: 200vh;
    background-color: #1110106f;
    backdrop-filter: blur(15px);   
    top: 80px;
    /*esse left -100 é para n ser visivel p conteudo*/
    right: -150%;
    text-align: center;
    transition: all .5s;
  }

  #check:checked ~ .barra_mn{
    right: 0;
  } 

  main {
    display: block;
    width: auto;
  }

  
  #cntd h2 {
    font-size: 16px;
  }

  #cntd h1 {
    padding-top: 10px;
    font-size: 60px;
  }

  #cntd p {
    text-align: center;
    padding-left: 0;
    margin-left: 10px;
    line-height: 1.5rem;
    font-size: 10px;
    width: 340px;
    text-align: center;
    font-family:  Barlow Condensed,sans-serif;
    font-size: 17px;
  }

  .right {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 360px;
    margin-left: 0;
    margin-top: 14px;
  }

  .one_box {
    margin-left: 0;
    margin-top: 0;
    height: 230px;
    width: 230px;
    justify-content: center;
  }

  .two_box {
    justify-content: center;
    height: 145px;
    width: 145px;
  }

  .two_box a {
    font-size: 20px;
  }

  .one_box:hover {
    transition: 1s;
    width: 230px;
    height: 230px; 
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.123);
  }
}

/*👇 Modelo Mobille de largura 320*/
@media ( max-width: 320px ){
  body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-image: url(./Backgrounds/background-home-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }

  #menuMB {
    display: flex;
    width: fit-content;
  }
  
  .nav_1 {
    width: fit-content;
    margin-left: 0px;
  }
  
  .checkbtn {
    display: flex;
    margin-left: 90px;
    color: #fff;
    font-size: 40px;
  }

  #header_primary {
    display: flex;
    width: fit-content;
    margin-bottom: 0px;
  }

  .barra_mn {
    display: block;
    position: fixed;
    width: 100%;
    height: 200vh;
    background-color: #1110106f;
    backdrop-filter: blur(15px);   
    top: 80px;
    /*esse left -100 é para n ser visivel p conteudo*/
    right: -150%;
    text-align: center;
    transition: all .5s;
  }

  #check:checked ~ .barra_mn{
    right: 0;
  } 

  main {
    display: block;
    width: auto;
  }

  
  #cntd h2 {
    font-size: 16px;
  }

  #cntd h1 {
    padding-top: 10px;
    font-size: 60px;
  }

  #cntd p {
    text-align: center;
    margin-left: 7px;
    line-height: 1.5rem;
    font-size: 10px;
    width: 300px;
    font-size: 18px;
    font-family:  Barlow Condensed,sans-serif;
  }

  .right {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 320px;
    margin-left: 0;
    margin-top: px;
    
  }

  .one_box {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 205px;
    width: 205px;
    justify-content: center;
  }

  .two_box {
    justify-content: center;
    height: 145px;
    width: 145px;
  }

  .two_box a {
    font-size: 20px;
  }

  .one_box:hover {
    transition: 1s;
    width: 205px;
    height: 205px; 
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.123);
  }
}

